<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Product</title>
   <!-- <link rel="icon" href="https://www.gammaprep.com/assets/images/favicon.png" type="image/x-icon"/> -->
   <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
   <link rel='stylesheet' href="<%=baseURL%>/assets/css/productPage.css">

</head>

<body>
   <%- include('header') %>

      <!-- main page content starts -->
      <div class="container-fluid mt-2 mb-3">
         <div class="row no-gutters">
            <div class="col-md-5 pr-2">
               <div class="card">
                  <div class="demo">
                     <ul id="lightSlider">
                        <li data-thumb="" id="img-thumb-1"> <img src="https://i.imgur.com/GwiUmQA.jpg" id="img-1" />
                        </li>
                        <!-- <li data-thumb=""> <img src="https://i.imgur.com/GwiUmQA.jpg" id="img-2"/>
                        </li>
                        <li data-thumb=""> <img src="https://i.imgur.com/DhKkTrG.jpg" />
                        </li> -->
                     </ul>
                  </div>
               </div>
               <div class="card mt-2">
                  <h6>Reviews</h6>
                  <div class="d-flex flex-row">
                     <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                           class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                     </div>
                     <span class="ml-1 font-weight-bold">4.6</span>
                  </div>
                  <hr>
                  <div class="badges">
                     <span class="badge bg-dark ">All (230)</span>
                     <span class="badge bg-dark ">
                        <i class="fa fa-image"></i> 23
                     </span> <span class="badge bg-dark ">
                        <i class="fa fa-comments-o"></i> 23
                     </span>
                     <span class="badge bg-warning">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <span class="ml-1">2,123</span>
                     </span>
                  </div>
                  <hr>
                  <div class="comment-section">
                     <div id="show-comments" style="max-height:600px; overflow-y: scroll;">
                        <!-- show reviews using js -->
                     </div>
                     <textarea cols="40" id="reviewMessage"></textarea>
                     <button class="btn btn-primary" id="sendReview">Send</button>
                  </div>
               </div>
            </div>
            <div class="col-md-7">
               <div class="card">
                  <div class="row">
                     <span class="favouriteBtn" id="favouriteBtn"><i class="fa"
                           style="font-size:30px; color:red;"></i></span>
                  </div>

                  <div class="d-flex flex-row align-items-center">
                     <div class="p-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                           class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                     <span class="ml-1">5.0</span>
                  </div>
                  <div class="about">
                     <h3 class="font-weight-bold product_title" id="product_title"> </h3>
                     <h4 class="font-weight-bold">₹<span id="product_price"></span></h4>
                  </div>
                  <div class="buttons">
                     <!-- <button class="btn btn-outline-warning btn-long cart">Add to Cart</button>  -->
                     <button id="pay-button" class="btn btn-warning btn-long buy">Buy Now</button>
                     <!-- <button class="btn btn-light wishlist"> <i class="fa fa-heart"></i> </button>  -->
                  </div>
                  <hr>
                  <div class="product-description">
                     <div><span class="font-weight-bold">Color:</span><span> blue</span></div>
                     <div class="my-color"> <label class="radio"> <input type="radio" name="gender" value="MALE"
                              checked>
                           <span class="red"></span> </label> <label class="radio"> <input type="radio" name="gender"
                              value="FEMALE"> <span class="blue"></span> </label> <label class="radio">
                           <input type="radio" name="gender" value="FEMALE"> <span class="green"></span> </label> <label
                           class="radio"> <input type="radio" name="gender" value="FEMALE"> <span class="orange"></span>
                        </label> </div>
                     <div class="d-flex flex-row align-items-center"> <i class="fa fa-calendar-check-o"></i> <span
                           class="ml-1">Delivery from sweden, 15-45 days</span> </div>
                     <div class="mt-2">
                        <span class="font-weight-bold">Description</span>
                        <p id="product_description"></p>
                        <div class="bullets">
                           <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                 class="bullet-text">Best
                                 in Quality</span> </div>
                           <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                 class="bullet-text">Anti-creak joinery</span> </div>
                           <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                 class="bullet-text">Sturdy laminate surfaces</span> </div>
                           <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                 class="bullet-text">Relocation friendly design</span> </div>
                           <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                 class="bullet-text">High
                                 gloss, high style</span> </div>
                           <div class="d-flex align-items-center"> <span class="dot"></span> <span
                                 class="bullet-text">Easy-access hydraulic storage</span> </div>
                        </div>
                     </div>
                     <div class="mt-2"> <span class="font-weight-bold">Store</span> </div>
                     <div class="d-flex flex-row align-items-center">
                        <img src="" id="productImg" class="rounded-circle store-image">
                        <div class="d-flex flex-column ml-1 comment-profile">
                           <div class="comment-ratings"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                 class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                           <span class="username" id="product_owner">Rare Boutique</span> <small class="followers">25K
                              Followers</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card mt-2">
                  <span>Similar items:</span>
                  <div class="similar-products mt-2 d-flex flex-row">
                     <div class="card border p-1" style="width: 9rem;margin-right: 3px;">
                        <img src="https://i.imgur.com/KZpuufK.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h6 class="card-title">$1,999</h6>
                        </div>
                     </div>
                     <div class="card border p-1" style="width: 9rem;margin-right: 3px;">
                        <img src="https://i.imgur.com/GwiUmQA.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h6 class="card-title">$1,699</h6>
                        </div>
                     </div>
                     <div class="card border p-1" style="width: 9rem;margin-right: 3px;">
                        <img src="https://i.imgur.com/c9uUysL.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h6 class="card-title">$2,999</h6>
                        </div>
                     </div>
                     <div class="card border p-1" style="width: 9rem;margin-right: 3px;">
                        <img src="https://i.imgur.com/kYWqL7k.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h6 class="card-title">$3,999</h6>
                        </div>
                     </div>
                     <div class="card border p-1" style="width: 9rem;">
                        <img src="https://i.imgur.com/DhKkTrG.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h6 class="card-title">$999</h6>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- main page content ends -->

      <%- include('footer') %>
         <!-- js starts -->
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

         <script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>

         <script>
            $('#lightSlider').lightSlider({ gallery: true, item: 1, loop: true, slideMargin: 0, thumbItem: 9 });

            //getting product id from url
            var product_id = new URL(location.href).searchParams.get("productID");
            if (!product_id) {
               window.location.href = "<%=baseURL%>/pageNotFound";
            }

            var price_in_paise = 0;
            var order_id = "";
            $(document).ready(function () {

               $.ajax({
                  url: "<%=baseURL%>/api/oneProduct/" + product_id + "/" + cookie_check,
                  type: "GET",
                  dataType: "json",
                  async: false,
                  success: (data) => {
                     console.log(data);
                     $("#product_title").text(data.product_name);
                     $("#product_price").text(data.price);
                     $("#product_description").text(data.description);
                     $("#product_owner").text(data.owner);
                     $("#img-1").attr("src", "<%=baseURL%>/" + data.profileImg);
                     // $("#img-2").attr("src","<%=baseURL%>/"+data.profileImg);
                     if (!data.favourite) {
                        $("#favouriteBtn .fa").addClass("fa-heart-o");
                     } else {
                        $("#favouriteBtn .fa").addClass("fa-heart");
                     }
                     price_in_paise = data.price * 100;
                  },
                  error: (error) => {
                     console.log(error);
                     alert("Something went wrong!");
                  }
               })


               $("#pay-button").click(function (e) {
                  e.preventDefault();
                  console.log(price_in_paise);
                  if (price_in_paise < 100) {
                     console.log(price_in_paise);
                     return;
                  }
                  $.ajax({
                     url: "<%=baseURL%>/payment/createOrder",
                     type: "post",
                     dataType: "JSON",
                     async: false,
                     data: {
                        "amount": price_in_paise,
                        "currency": "INR",
                        "receipt": product_id,
                        "notes": {
                           "description": "just a test for transaction",
                           "language": "NodeJS",
                           "access": "unlimited"
                        }
                     },
                     success: function (data) {
                        console.log(data);
                        order_id = data.id;
                        razorpayObject.open();
                     },
                     error: function (data) {
                        console.log(data);
                        alert("Something went wrong!");
                     }
                  });
               });
            });
         </script>

         <!-- razorpay js code for payment integration -->
         <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
         <script>
            var options = {
               "key": "rzp_test_0PhqsnI53Mw9bl",
               "amount": price_in_paise,
               "currency": "INR",
               "name": "Coins",
               "description": "Pay & Checkout this Course, Upgrade your DSA Skill",
               // "image": "https://media.geeksforgeeks.org/wp-content/uploads/20210806114908/dummy-200x200.png",
               "order_id": order_id,
               "handler": function (response) {
                  console.log(response)
                  alert("This step of Payment Succeeded");
               },
               "prefill": {
                  //Here we are prefilling random contact
                  "contact": "9113776760",
                  //name and email id, so while checkout
                  "name": "Twinkle Sharma",
                  "email": "smtwinkle@gmail.com"
               },
               "notes": {
                  "description": "Best Course for SDE placements",
                  "language": "Available in 4 major Languages JAVA,C/C++, Python, Javascript",
                  "access": "This course have Lifetime Access"
               },
               "theme": {
                  "color": "#2300a3"
               }
            };
            var razorpayObject = new Razorpay(options);
            console.log(razorpayObject);
            razorpayObject.on('payment.failed', function (response) {
               console.log(response);
               alert("This step of Payment Failed");
            });

// document.getElementById('pay-button').onclick = function(e){
// 	razorpayObject.open();
// 	e.preventDefault();
// }



         </script>

         <script>
            $(document).ready(function () {
               document.getElementById("favouriteBtn").addEventListener("click", function (e) {
                  $.ajax({
                     url: "<%=baseURL%>/api/addRemoveFavourite/" + cookie_check,
                     type: "PATCH",
                     async: false,
                     dataType: "JSON",
                     data: {
                        "productId": product_id
                     },
                     success: (data) => {
                        console.log(data);
                        // location.reload();
                        if (!data.response) {
                           $("#favouriteBtn .fa").removeClass("fa-heart");
                           $("#favouriteBtn .fa").addClass("fa-heart-o");
                        } else {
                           $("#favouriteBtn .fa").removeClass("fa-heart-o");
                           $("#favouriteBtn .fa").addClass("fa-heart");
                        }
                     },
                     error: (error) => {
                        console.log(error);
                        alert("Something went wrong");
                     }
                  });
               });
            })
         </script>

         <script>
            $("#sendReview").click((e) => {
               e.preventDefault();
               console.log($("#reviewMessage").val());
               sendMessage({
                  email: cookie_check,
                  productId: product_id,
                  message: $("#reviewMessage").val()
               });
               $("#reviewMessage").val('');
            });
            getMessages();

            function addMessages(message) {
               console.log(message);
               $("#show-comments").append(`
               <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-row align-items-center">
                           <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle profile-image">
                           <div class="d-flex flex-column ml-1 comment-profile">
                              <div>${capitalFirst(message.userId.name)}</div>
                              <span class="username">${message.review}</span>
                           </div>
                        </div>
                        <div class="date"> <span class="text-muted">${Date.now()}</span> </div>
                     </div>
                     <hr>
               `);
               var objDiv = document.getElementById("show-comments");
               objDiv.scrollTop = objDiv.scrollHeight;

            }

            function getMessages() {
               $.get('<%=baseURL%>/api/review/' + product_id, (data) => {
                  // console.log(data)
                  data.forEach(addMessages);
               });
            }

            function sendMessage(message) {
               $.ajax({
                  url: "<%=baseURL%>/api/review",
                  type: "POST",
                  async: false,
                  dataType: "json",
                  data: message,
                  success: (data) => {
                     // console.log(data);
                     $("#show-comments").html("")
                     getMessages();
                  },
                  error: (data) => {
                     console.log(data);
                  }
               })
            }
         </script>

</body>

</html>